brotli==1.0.9
ConfigParser==6.0.0
cryptography==3.4.8
Cython==3.0.0
dl==0.1.0
docutils==0.20.1
HTMLParser==0.0.2
importlib_metadata==4.6.4
jnius==1.1.0
keyboard==0.13.5
keyring==23.5.0
lockfile==0.12.2
lxml==4.9.3
numpy==1.21.5
ordereddict==1.1
protobuf==3.12.4
psutil==5.9.0
pyOpenSSL==23.2.0
toml==0.10.2
tornado==6.3.2
typing_extensions==4.7.1
xmlrpclib==1.0.1
zipp==1.0.0
urwid~=2.1.2